################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Command/x64/Debug
/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/Sample/x64
/x64/Debug
